.main-padding {
  padding: 0 3rem;
}

.navbar {
  background-color: white;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  flex-direction: column;
  z-index: 999;
}
@media (min-width: 1024px) {
  .navbar {
    align-items: center;
    flex-direction: row;
  }
}
.navbar__logo {
  padding: 1.5rem 0;
}
.navbar__links {
  z-index: 999;
  width: 100%;
  display: none;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 1024px) {
  .navbar__links {
    width: 40%;
    display: flex;
  }
}
.navbar__links ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (min-width: 1024px) {
  .navbar__links ul {
    display: flex;
    flex-direction: row;
  }
}
.navbar__links ul li {
  text-align: center;
}
.navbar__links ul li a {
  display: block;
  position: relative;
  padding: 1rem;
}
.navbar__links ul li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 0.25rem;
  width: 0;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  transition: all 0.4s ease-in-out;
}
.navbar__links ul li a:hover::before {
  width: 100%;
}

.navbar__links.active {
  display: flex;
}

.primary-button {
  background: linear-gradient(to right, #31d35c, #2bb7da);
  padding: 10px 30px;
  border-radius: 2rem;
  outline: none;
  color: white;
  display: none;
}
@media (min-width: 1024px) {
  .primary-button {
    display: inline;
  }
}

.menu-toggle {
  position: fixed;
  z-index: 9999;
  right: 10%;
  top: 1.5rem;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.5s;
}
@media (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle span {
  background: #000000;
  width: 100%;
  height: 3px;
}

.menu-toggle.active {
  transform: rotate(-180deg);
}

.menu-toggle.active span:nth-child(1) {
  position: absolute;
  background: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  position: absolute;
  background: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hero {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: 1fr;
  z-index: -10000;
}
.hero__left {
  grid-area: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__left h1 {
  font-size: 2.2rem;
  font-weight: 200;
  padding-top: 2rem;
  color: #2d314d;
}
.hero__left p {
  padding: 1.5rem 0;
  opacity: 0.4;
  font-size: 0.9rem;
}
.hero__left .primary-button {
  background: linear-gradient(to right, #31d35c, #2bb7da);
  padding: 15px 40px;
  border-radius: 2rem;
  outline: none;
  color: white;
  display: block;
  font-size: 0.8rem;
}
.hero__right {
  grid-area: 1;
  background-image: url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -10000;
}
.hero__right img {
  margin-top: -125px;
  height: 400px;
  z-index: -3;
}

.easybanking {
  padding: 0 3rem;
  background-color: #fafafa;
}
.easybanking h2 {
  font-weight: 200;
  text-align: center;
  color: #2d314d;
  padding: 10rem 0 1rem 0;
}
.easybanking p {
  opacity: 0.4;
  font-size: 0.9rem;
  padding-bottom: 4rem;
}
.easybanking .grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.easybanking .grid__banking {
  text-align: center;
}
.easybanking .grid__banking h3 {
  padding: 1.5rem 0;
}
.easybanking .grid__budgeting {
  text-align: center;
}
.easybanking .grid__budgeting h3 {
  padding: 1.5rem 0;
}
.easybanking .grid__onboarding {
  text-align: center;
}
.easybanking .grid__onboarding h3 {
  padding: 1.5rem 0;
}
.easybanking .grid__api {
  text-align: center;
}
.easybanking .grid__api h3 {
  padding: 1.5rem 0;
}

.latest-articles {
  padding: 0 3rem;
  position: relative;
}
.latest-articles h2 {
  padding: 2rem 0;
  text-align: center;
}
.latest-articles .articles {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
}
.latest-articles .articles__currency {
  width: 300px;
}
.latest-articles .articles__currency img {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-size: contain;
}
.latest-articles .articles__currency .container {
  padding: 0 1.5rem;
}
.latest-articles .articles__currency .container .para {
  padding: 1rem 0;
  font-size: 0.8rem;
}
.latest-articles .articles__restaurant {
  width: 300px;
}
.latest-articles .articles__restaurant img {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-size: contain;
}
.latest-articles .articles__restaurant .container {
  padding: 0 1.5rem;
}
.latest-articles .articles__restaurant .container .para {
  padding: 1rem 0;
  font-size: 0.8rem;
}
.latest-articles .articles__plane {
  width: 300px;
}
.latest-articles .articles__plane img {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-size: contain;
}
.latest-articles .articles__plane .container {
  padding: 0 1.5rem;
}
.latest-articles .articles__plane .container .para {
  padding: 1rem 0;
  font-size: 0.8rem;
}
.latest-articles .articles__confetti {
  width: 300px;
}
.latest-articles .articles__confetti img {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-size: contain;
}
.latest-articles .articles .container {
  padding: 0 1.5rem;
}
.latest-articles .articles .container .para {
  padding: 1rem 0;
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

ul {
  list-style: none;
}

p {
  opacity: 0.4;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #000000;
}

h2 {
  font-weight: 200;
  color: #2d314d;
}

h3 {
  font-weight: 200;
  color: #2d314d;
}

h4 {
  font-weight: 400;
  color: #2d314d;
}

.sub-text {
  font-size: 0.6rem;
  padding: 1rem 0;
}

/*# sourceMappingURL=main.css.map */
