@use '../scss/_partials/utilities' ;
@use '../scss/_partials/header' ;
@use '../scss/_partials/hero' ;
@use '../scss/_partials/easybanking' ;
@use '../scss/_partials/articles' ;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    // color: utilities.$primary-color;
}

ul {
    list-style: none;
}

p {
    opacity: .4;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
}

h2 {
    font-weight: 200;
    color: utilities.$Dark-Blue;
}

h3 {
    font-weight: 200;
    color: utilities.$Dark-Blue;
}
h4 {
    font-weight: 400;
    color: utilities.$Dark-Blue;
}

.sub-text {
    font-size: .6rem;
    padding: 1rem 0;    
}