@use '../_partials/utilities' ;


.latest-articles {
    @include utilities.mobile-padding;
    position: relative;
    @media screen and (min-width: 1440px) {
        @include utilities.desktop-padding;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    h2 {
        padding: 2rem 0;
        text-align: center;
        @media screen and (min-width: 1440px) {
            text-align: left;
            font-size: 2rem;
        }
    }
    .articles {
        display: grid;
        gap: 4rem;
        grid-template-columns: 1fr;
        @media screen and(max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (min-width: 1440px) {
            grid-template-columns: repeat(4, 1fr)
        }
        &__currency{
            width: 300px;
            @media screen and (min-width: 1440px) {
                width: 250px;
            }
            img {
                width: 100%;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                background-size: contain;
            }
            .container {
                padding: 0 1.5rem;
                .para {
                    padding: 1rem 0;
                    font-size: .8rem;
                }
                h4 {
                    cursor: pointer;
                    &:hover {
                        color: utilities.$Lime-Green;
                    }
                }
            }
        }
        &__restaurant{
            width: 300px;
            @media screen and (min-width: 1440px) {
                width: 250px;
            }
            img {
                width: 100%;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                background-size: contain;
            }
            .container {
                padding: 0 1.5rem;
                .para {
                    padding: 1rem 0;
                    font-size: .8rem;
                }
                h4 {
                    cursor: pointer;
                    &:hover {
                        color: utilities.$Lime-Green;
                    }
                }
            }
        }
        &__plane{
            width: 300px;
            @media screen and (min-width: 1440px) {
                width: 250px;
            }
            img {
                width: 100%;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                background-size: contain;
            }
            .container {
                padding: 0 1.5rem;
                .para {
                    padding: 1rem 0;
                    font-size: .8rem;
                }
                h4 {
                    cursor: pointer;
                    &:hover {
                        color: utilities.$Lime-Green;
                    }
                }
            }
        }
        &__confetti{
            width: 300px;
            @media screen and (min-width: 1440px) {
                width: 250px;
            }
            img {
                width: 100%;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                background-size: contain;
            }
        }
        .container {
            padding: 0 1.5rem;
            .para {
                padding: 1rem 0;
                font-size: .8rem;
            }
            h4 {
                cursor: pointer;
                &:hover {
                    color: utilities.$Lime-Green;
                }
            }
        }
        
    }
    
}