@use '../_partials/utilities' ;

.footer {
    @include utilities.mobile-padding;
    font-size: .8rem;
    background-color: utilities.$Dark-Blue;
    color: white;
    .left-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo-area {
            padding: 1rem 0;
            .logo-area-div {
                .footer-logo {
                    width: 8rem;
                    filter: brightness(100%) invert(1);
                }
            }
            .social-div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 1rem;
                .svg-footer {
                    color: white;
                    width: 25px;
                    margin: .3rem;
                    cursor: pointer;
                    &:hover {
                        color: utilities.$Lime-Green;
                    }
                }
            }
        }
        .links-area {
            padding: 1rem 0;
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                li {
                    padding: 0.5rem 0;
                    
                    a {
                        color: white;
                        &:hover {
                            color: utilities.$Lime-Green;
                        }
                    }
                }
            }
        }
    }

    .right-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .footer-btn {
        background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        padding: 10px 30px;
        border-radius: 2rem;
        outline: none;
        color: white;
        margin-top: 1rem;
        cursor: pointer;
        }
        p {
            padding: 2rem 0;
        }
    }
}

.svg-footer:hover {
    color: utilities.$Lime-Green;

}