@use '../_partials/utilities' ;

.hero {
    @include utilities.mobile-padding;
    display: grid;
    grid-template-columns: 1fr;
    z-index: -10000;
    @media screen and (min-width: 1440px) {
        @include utilities.desktop-padding;
        grid-template-columns: 1fr 1fr;
        height: 70vh;
    }
    &__left {
        grid-area: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 1440px) {
            grid-area: 1;
            justify-content: flex-start;
            align-items: flex-start;
        }
        h1 {
            font-size: 2.2rem;
            font-weight: 200;
            padding-top: 2rem;
            color: utilities.$Dark-Blue;
            @media screen and (min-width: 1440px) {
                font-size: 3rem;
                padding: 7rem 0 1rem 0;
            }
        }
        p {
            padding: 1.5rem 0;
            opacity: 0.4;
            font-size: .9rem;
            @media screen and (min-width: 1440px) {
                width: 60%;
                font-size: 1.1rem;
            }
        }
        .primary-button {
            background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
            padding: 15px 40px;
            border-radius: 2rem;
            outline: none;
            color: white;
            display: block;
            font-size: .8rem;
            @media screen and (min-width: 1440px) {
                margin: 1rem 0;
                font-size: .8rem;
            }
        }
    }
    &__right{
        grid-area: 1;
        background-image: url(/images/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -10000;
        @media screen and (min-width: 1440px) {
            background-image: url(/images/bg-intro-desktop.svg);
            background-position: top right;
            background-size: contain;
        }
        img {
            margin-top: -125px;
            height: 400px;
            z-index: -3;
            @media screen and (min-width: 1440px) {
                width: 100%;
                height: 700px;
                // height: auto;
                // align-self: flex-end;
                margin-left: 10rem;
                margin-top: -90px;
            }
        }
    }
}